	.bo{
		background-color:#006989
	}
	.fo{
		width:35%;
		padding:5%;
		background-color:white;
		float:left;
	}
	.d1{
		font-size:25px;
		font-weight:bold	
	}
	.d2{
		font-size:16px;
		font-weight:bold
	}
	.d3{
		background-color:#F5F5F5;
		width:70%;
		float:left;
		margin-left:12%;
		padding:3% 2% 3% 2%;
		margin-top:1%;
	}
	.d4{
		font-size:16px;
		font-weight:bold;
		margin-top:5%
	}
	.sub{
		font-size:15px;
		padding-top:3%;
		padding-bottom:3%; 
		width:75%; 
		margin-top:5%;
		background-color:#604CC3;
		color:white
	}
	.hr{
		margin-right:25%;
		margin-top:5%;
	}
	.bor{
		width:113px;
		border:1px solid #FF7F3E;
		border-radius:3px;
		padding:2% 2% 2% 2%;
		float:left;
		text-align:center;
		color:#FF7F3E;
		margin-top:7%;
	}
	.bor1{
		width:113px;
		border:1px solid #3FA2F6;
		border-radius:3px;
		padding:2% 2% 2% 2%;
		float:left;
		text-align:center;
		color:#3FA2F6;
		margin-top:7%;
	}
	.img{
		width:54.7%;
		height:582px;
		float:left;
	}